<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>template</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
      <link rel="stylesheet" href="static/jquery.mCustomScrollbar.css">
	    <link rel="stylesheet" href="static/owl.carousel.css">
	    <link rel="stylesheet" href="static/owl.theme.css">
	    <link rel="stylesheet" href="static/owl.transitions.css">
	    <link rel="stylesheet" href="static/animate.css">
	    <link rel="stylesheet" href="static/bootstrap.min.css">
	    <link rel="stylesheet" href="static/bootstrap-datetimepicker.min.css">
	    <link rel="stylesheet" href="static/uploadify.css">
	    <!-- 引用字体包 以后用自己的iconfontjs -->
	    <link rel="stylesheet" href="static/iconfont/font-awesome.min.css">
	    <link rel="stylesheet" href="static/iconfont/elegant-icons.css">
  </head>
  <body>
  	<script src='static/jquery.min.js'></script>

<script src="static/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="static/bootstrap.min.js"></script>

 <!-- juqery上传插件 -->
<script type="text/javascript" src="static/jquery.uploadify.min.js"></script>


<!-- menu滚动 -->
<!-- <script src='static/jquery.mCustomScrollbar.min.js'></script> -->
 <script src="static/jquery.mCustomScrollbar.concat.min.js"></script> 

<script src="static/owl.carousel.min.js"></script>
<script src="static/scroll.js"></script>
<script src='static/wow.min.js'></script>

<!-- 时间插件 -->
<script src="static/bootstrap-datetimepicker.min.js"></script>
<script src="static/bootstrap-datetimepicker.zh-CN.js"></script>

<script src='static/wow.min.js'></script>
<!-- <script src='static/ht.js'></script> -->

<!-- 水波纹 js -->
<script src='static/wv.js'></script>

<!-- select js -->
<!-- <script src='static/selectFx.js'></script>
<script src='static/classie.js'></script> -->
<!-- 加密js -->
<script src='../static/des.js'></script>

<script src='static/index.js'></script>
  	
  	
    <div id="app">
        <router-view></router-view>
    </div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
		
    <!-- webpack builds are automatically injected -->
  </body>
</html>
